
<div class="card mt-2 bg-dark text-white">
    <div class="card-header">
        <i class="fas fa-comments"></i> Comentarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="">
                    <img src="" alt="" class="w-100 h-100" style="object-fit: cover;">
                </a>
            </div>
        </div>
    </div>
</div>