<div class="card bg-dark text-white">
    <img src="/images/usuario.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= data.nombre_usr%> <%= data.apellido_usr%></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">An item</li>
        <li class="list-group-item list-group-item-dark">A second item</li>
        <li class="list-group-item list-group-item-dark">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link"><%= data.perfillinkedin%></a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>