<%- include ("cabeceras/cabecera.principal.ejs") %>

    <div class="container p-4 col-lg-12">
        <%- include ("partials/tabla.tecnologias.ejs")%>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../../js/tabla.selecciones.js"></script>
    <script src="../../../css/styletabla.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </body>
    </html>