<%- include ("cabeceras/cabecera.principal.ejs") %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12">
                <%- include ("partials/tabla.tecnologias.ejs")%>
            </div>
        </div>
    </div>

    <script src="/js/tablatecnologias.js"></script>
    </body>

    </html>