<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tecla Social</title>
    <!-- NAVIGATION -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<script>
    //obtener el usuario renderizado para usarlo en el archivo js
    var idusuario = <%- JSON.stringify(data.id)%>
</script>

<body>
    <nav class="navbar navbar-light bg-light justify-content-between " style="background-image: linear-gradient(to right, #434343 0%, black 100%);">
        <a href="/userown/<%= data.id%>" class="navbar-brand">
            <h3 class="text-white">Tecla Social</h3>
        </a>
        <form class="form-inline">
            <a href="/userown/<%= data.id%>/search" class="btn btn-outline-light my-2 my-sm-0 text-white" style="border-radius: 40px;">Search</a>
        </form>
    </nav>